
<h1 align="center">Player One: <%= @player1 %> VS. Player Two: <%= @player2 %></h1>
<h2 align="center">Hitpoints: 20 ------ Hitpoints: 20</h2>
<h3 align="center"><%= @player1 %> attacked <%= @player2 %>!</h3>
