<% if @name %>
<h1>My name is <%= @name %>. Mean badass cat. I am <%= @age %></h1>
<% end %>
<form action="/named-cat" method = "post">
  <label for="name">Name:</label>
  <input type="text" name="name" />
  <input type="submit" value= "submit"/>
</form>
<div style='border: 5px dashed black'>
  <img src='http://pixdaus.com/files/items/pics/9/66/246966_166450f821c56904e1d0e84947fd65a2_large.jpg'>
</div>
