<h1>BATTLE!</h1>
<h2> Sign in to play </h2>
<form action="/names" method="post">
<label for="Player 1">
  Player One
  <input type="text" name="player1" />
  </label>
<label for="Player 2">
  Player  Two
  <input type="text" name="player2" />
</label>
<div class="button">
  <button class="submit">Start Game</button>
</div>
</form>
