

<center><h1>BATTLE!</h1>
<h2> Sign in to play </h2>
<div>
<form action="/names" method="post">
<label for="Player 1">
  Player One
  <input type="text" name="player1" />
  </label>
  <br>
  <br>
<label for="Player 2">
Player  Two
<input type="text" name="player2" />
</label>
</div>
<div class="button">
<br>
<button class="submit">Start Game</button>
</div>
</form>
</center>
<iframe width="0" height="0" src="https://www.youtube.com/embed/u_OJYwkwJ-E?rel=0&autoplay=1" frameborder="0" allowfullscreen ></iframe>
