<div style='border: 5px dashed black'>
<h1>My name is <%= @name %>. Mean badass cat 2.</h1>
<img src='http://pixdaus.com/files/items/pics/9/66/246966_166450f821c56904e1d0e84947fd65a2_large.jpg'>
</div>"
