<body style="background-color:#FFDCB7; border: 3px solid black">
  <div style="text-align:center">
<h1><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h1>
</div>
<form action="/play" method="get">
  <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
  <input type="submit" value="OK">
</form>
</div>
<div style="text-align:center;vertical-align:middle">
<p><img src='https://media.giphy.com/media/pqRZWQdy0994I/giphy.gif'/></p>
</div>
</body>



  <!-- <embed name="~/Users/JackHardy/Downloads/got.mp3" src="" width="150" height="90" loop="false" autostart="true">
    <video width='512' height='288' id="splashvid" autoplay loop muted>
     <source src="https://www.youtube.com/watch?v=J9d9UrK0Jsw">
    </video> -->
