<!-- <% if @player_1_name %>
<h1>My name is <%= @name %>. Mean badass cat. I am <%= @age %></h1>
<% end %> -->

<form action="/enter-names">
  <label for="player_1_name">Player 1 Name:</label>
  <input type="text" name="player_1_name"/>
  <input type="submit" value= "Submit"/>
</form>
