<div style='border: 1px solid black'>
<h1><%= @player_1_name%> vs. <%= @player_2_name %></h1>
<div style="float:left"><h3> <%= @player_1_name %>: 100 HP</h3>
  <img src='http://img.allw.mn/content/w0/p2/bz2j9pxe.jpg' width="300" height "225"/>
</div>
<div style="float:right"><h3> <%= @player_2_name %>: 100 HP </h3>
  <img src='https://pbs.twimg.com/profile_images/608013046192185344/Vp1n5A14.jpg' width="300" height "225"/>
</div>
</div>
<form action="/attack" method="get">
  <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
  <input type="submit" value="Attack">
  </div>
</form>
