<!-- <EMBED SRC="https://www.youtube.com/watch?v=J9d9UrK0Jsw" HEIGHT=60 WIDTH=300> -->
<body style="background-color:#FFDCB7; border: 3px solid black">
<div style="text-align:center">
<h1><%= @player_1_name%> vs. <%= @player_2_name %></h1>
</div>
<div style="float:left"><h3> <%= @player_1_name %>: 100 HP</h3>
  <img src='http://img.allw.mn/content/w0/p2/bz2j9pxe.jpg' width="300" height "225"/>
</div>
<div style="float:right"><h3> <%= @player_2_name %>: 100 HP </h3>
  <img src='https://pbs.twimg.com/profile_images/608013046192185344/Vp1n5A14.jpg' width="300" height "225"/>
</div>
<form action="/attack" method="get">
  <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
  <input type="submit" value="Attack">
  </div>
</form>
</body>
